.section_cont{
    width: 100%;
    height:50vh ;
    background-image: url(../images/architect.jpg);
    background-repeat: no-repeat;
    padding-top: 400px;
.logo-text{
    width: 300px;
    margin: auto;
    .br-logo{
        opacity: 70%;
        font-size: 50px;
background-color: black;
color: white;
    }
   .text{
       font-size: 50px;
       color: white;
   }
}

}

